<nav>
  <ul class="navbar">
    <li><a href="/index.html">Home</a></li>
    <li class="dropdown">
      <a href="#">Resources ▾</a>
      <ul class="dropdown-menu">
        <!-- <li><a href="/resources/claims-guide.html">Claims Guide</a></li> -->
        <li>
          <a href="/resources/hospitalisationComparisonTool.html"
            >Hospitalisation Comparison</a
          >
        </li>
        <li><a href="/resources/pfcVsPib.html">PFC vs PIB</a></li>
        <li><a href="/resources/medicalCheckupGuideSingapore.html">Medical Check Up Guide</a></li>
        <li><a href="/resources/pfcVsPib.html">Maternity Plan Summary</a></li>
        <!-- Add more as needed -->
      </ul>
    </li>
  </ul>
</nav>
